node_modules/
build-tools/
shared/dist/
!shared/node_modules/
shared/node_modules/rimraf/
RoguelikeClient/node_modules/
RoguelikeClient/library/
RoguelikeClient/temp/
RoguelikeClient/build/
RoguelikeClient/settings/
RoguelikeClient/local/
RoguelikeClient/tsconfig.check.json
server/node_modules/
.DS_Store
*.log
.idea/
.vscode/
